
@{
    ViewBag.Title = "Home Page";
}
<style>
    .hero-section {
        background-image: url('https://via.placeholder.com/1500x600'); /* Replace with your background image URL */
        background-size: cover;
        background-position: center;
        color: #fff;
        text-align: center;
        padding: 100px 0;
    }

    .call-to-action {
        margin-top: 50px;
    }
</style>
<div class="hero-section">
    <div class="container">
        <h1 class="display-4">Welcome to Our Website</h1>
        <p class="lead">We provide amazing services to our clients. Join us today!</p>
        <a href="#" class="btn btn-primary btn-lg call-to-action">Get Started</a>
    </div>
</div>
